/* style.css */
.navbar-nav {
  padding: 20px;
  justify-content: center;
  flex-grow: 1;
  width: vw;
  background-color:#59B4C3; 
  color: #211C6A;
  font-size: 20px;
  padding: 10px;
  /* display: flex; */
}

.navbarmain {
  width: vw;
  height: 10%;
  background-color: #59B4C3; 
  color: #211C6A;
}

.nav-link {
  padding: 100px;
  font-size: 400px;
}
