.card {
  padding: 50;
  border: transparent !important;
  background-color: black; 
}
.homecard {
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: black; 
}

.tile {
  color : "white";
}
