.card {
  padding: 50;
  border: transparent !important;
  background-color: #59B4C3;
}
.homecard {
  height: 100vh; /* 100% of the viewport height */
  width: 100vw; /* 100% of the viewport width */
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  background-color: #59B4C3;
}

.tile {
  color : "white";
}
