.card {
  padding: 50;
  border: transparent !important;
  background-color: black; 
}
.homecard {
  height: 100vh; 
  width: 100vw;
  display: flex;
  justify-content: center; 
  align-items: center; 
  /* font-family: "allura-regular"; */
  background-color: rgb(238, 238, 238); 
  background-image: url("../../images/unsplah.jpg");
  background-size: cover; /* Cover the entire page */
  background-position: center; /* Center the background image */
  background-repeat: no-repeat; /* Do not repeat the image */
}

.tile {
  color : "white";
}
