/* style.css */
.navbar-nav {
  justify-content: center;
  flex-grow: 1;
  width: vw;
  background-color:#64002f; 
  color: #211C6A;
  font-size: 20px;
  padding:5px;
}

.navbarmain {
  width: vw;
  height: 10%;
  background-color: #64002f; 
  color: #211C6A;
}

.nav-link {
  padding: 100px;
  font-size: 400px;
}
